p {
  color: black;  /*文字色を青に設定*/
}
   
   .box {
    background-color: pink;  /*背景色をピンク色に設定*/
    height: 100px;  /*箱の高さを100pxに設定*/
   }
   .title h1{
    color:rgb(250, 247, 247);
    margin-top: 45px;
   }

   .satoko{
    position: relative;
    background-image: url("images/background.png");
    opacity: 0.8;
    height:300px;
    background-size: 100px;
    padding-top: 450px;
  }  
  .haya{padding-top: 410px;
   }
  
   .tomo{padding-top: 460px;
   }
  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
.post-container {
  margin: 50px auto;
  width: 50%;
  border: solid #d3def1;
  border-radius: 10px;
  text-align: center;
  background-color: #d3def1;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

input[type="text"] {
  width: 95%;
  height: 40px;
}

input[type="submit"] {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
main{
  background-image: url("background.png");
  opacity: 0.8;
  height:450px;
  background-size: cover;
  padding-top: 410px;
}
  .h{
    padding-top: 460px;
  }
  .a{
    padding-top: 460px;
  }
  .y{
    padding-top: 460px;
  }

  .b{
    border-radius: 50px;
    background: #616770;
    box-shadow:  20px 20px 60px #52585f, -20px -20px 60px #707681;
 }

 .button {
  background-color: #095DAD;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 1.25rem 4rem;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}